.load-icon {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  z-index: 1;
  position: fixed;
  animation: dispparition 500ms forwards;
  animation-delay: 2s;
}

.load-icon:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(159, 51, 51);
  border-color: #fff transparent #fff transparent;
  animation: rotation 0.5s ease-in-out;
  animation-iteration-count: 8;
}

.bouton-ville {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  padding: 20px;
  text-decoration: none;
}
.bouton-ville input {
  border: hidden;
  background-color: #EAEAEA;
}
.bouton-ville input :focus {
  border: hidden;
}
.bouton-ville i {
  margin-right: 5px;
}

@media screen and (min-width: 900px) {
  .bouton-ville {
    display: flex;
    justify-content: center;
    background-color: #EAEAEA;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
html {
  font-family: "Roboto";
  padding: 0;
}
html a {
  text-decoration: none;
  color: black;
}
html h3 {
  margin: 0;
  padding: 0;
}

.logo {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}
.logo .fa-arrow-left {
  float: left;
  margin: -44px 300px 1px 0px;
  left: 23px;
  position: absolute;
}
.logo img {
  width: 162px;
  padding: 20px 0px 20px 0px;
  justify-self: center;
}

body {
  margin: 0;
}

.text-aceuille {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  background-color: #F2F2F2;
  padding-bottom: 57px;
}
.text-aceuille h2 {
  margin: 39px 58px 0 42px;
}
.text-aceuille p {
  padding: 0px 26px 27px 8px;
  margin: 0;
}

@media screen and (min-width: 900px) {
  .logo {
    align-self: center;
  }
  .text-aceuille h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 18px;
  }
  .fa-arrow-left {
    left: 75px;
  }
}
.bouton-rose {
  display: flex;
  border-color: black;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  border-radius: 25px;
  width: fit-content;
  align-self: center;
  box-shadow: 1px 1px 3px rgb(184, 184, 184);
}
.bouton-rose p {
  padding: 15px;
  margin: 0;
  color: #EAEAEA;
}
.bouton-rose :hover {
  box-shadow: 3px 3px 8px rgb(184, 184, 184);
  border-radius: 25px;
}

.lien-menu {
  opacity: 0;
  animation: apparition 1s forwards;
}
.lien-menu:nth-child(1) {
  animation-delay: 100ms;
}
.lien-menu:nth-child(2) {
  animation-delay: 200ms;
}
.lien-menu:nth-child(3) {
  animation-delay: 300ms;
}
.lien-menu:nth-child(4) {
  animation-delay: 400ms;
}
.lien-menu:nth-child(5) {
  animation-delay: 500ms;
}
.lien-menu:nth-child(6) {
  animation-delay: 600ms;
}
.lien-menu:nth-child(7) {
  animation-delay: 700ms;
}
.lien-menu:nth-child(8) {
  animation-delay: 800ms;
}
.lien-menu:nth-child(9) {
  animation-delay: 900ms;
}
.lien-menu:nth-child(10) {
  animation-delay: 1000ms;
}
.lien-menu:nth-child(11) {
  animation-delay: 1100ms;
}
.lien-menu:nth-child(12) {
  animation-delay: 1200ms;
}
.lien-menu:nth-child(13) {
  animation-delay: 1300ms;
}

.choix-menu {
  position: relative;
  display: flex;
  margin-top: 12px;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.choix-menu .check {
  display: flex;
  align-content: center;
  background-color: #99E2D0;
  width: 100px;
  float: right;
  transition: transform 1s;
  border-radius: 0 15px 15px 0;
  align-content: center;
  justify-content: center;
}
.choix-menu .check .cerle {
  height: fit-content;
  align-self: center;
  background-color: white;
  border-radius: 50%;
  height: fit-content;
  padding: 2px;
  animation: 0.5s rotation;
}
.choix-menu .check i {
  color: #99E2D0;
}
.choix-menu:hover .check {
  transition: width 0.5s;
  width: 100px;
}
.choix-menu:not(:hover) .check {
  transition: width 0.25s;
  width: 0px;
}
.choix-menu:not(:hover) .check .cerle {
  display: none;
}
.choix-menu a {
  width: 100%;
}
.choix-menu .info-plats {
  width: 100%;
  margin: 12px;
  overflow: hidden;
  white-space: nowrap;
}
.choix-menu p {
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 5px;
  width: 100%;
}
.choix-menu h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}
.choix-menu .prix {
  float: right;
  font-weight: 700;
  margin: 12px 19px 12px 12px;
  padding-top: 39px;
}

.Restaurants {
  padding: 0 17px;
  width: auto;
  padding-top: 54px;
  background-color: #F7F7F7;
}
.Restaurants a {
  width: 25%;
}
.Restaurants .carte-restaurant {
  position: relative;
  border-radius: 15px;
  height: 231px;
  margin-bottom: 18px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.Restaurants .carte-restaurant img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.Restaurants .carte-restaurant .info {
  display: flex;
  flex-direction: column;
  margin-left: 13px;
}
.Restaurants .carte-restaurant i {
  display: flex;
}
.Restaurants .carte-restaurant p {
  margin-top: 5px;
  padding: 0;
}

.nouveau {
  display: flex;
  position: absolute;
  width: 80px;
  height: 29px;
  color: green;
  font-weight: 500;
  margin: 14px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  background-color: #99E2D0;
  right: -0.18px;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 900px) {
  .Restaurants h2 {
    margin-left: 27px;
  }
  .Restaurants .liste-carte-restaurant {
    width: 100%;
    display: flex;
  }
  .Restaurants .carte-restaurant {
    margin-left: 26px;
  }
}
.image-aceuille {
  object-fit: cover;
  width: 100%;
  height: 275px;
}
.image-aceuille img {
  object-fit: cover;
}

.section-choix {
  max-width: 1055px;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 40px 40px 0px 0px;
  margin-top: -32px;
  padding: 32px 13px 40px 13px;
  background-color: #F7F7F7;
}
.section-choix a i {
  display: flex;
}
.section-choix h2 {
  margin: 0;
  font-family: Shrikhand;
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
}

.section-bouton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0 40px 0;
}

.type-plats {
  border-bottom: solid;
  border-color: #99E2D0;
  width: 9%;
}
.type-plats h3 {
  margin: 0;
  margin-top: 40px;
}

@media screen and (min-width: 900px) {
  .image-aceuille {
    height: 423px;
  }
  .section-choix {
    margin: -50px 92px 0 93px;
  }
  .section-choix h2 {
    font-family: Shrikhand;
    font-size: 28px;
    font-style: italic;
    font-weight: 800;
    align-self: center;
  }
  .section-choix h2 .coeur {
    margin-left: 24px;
  }
}
.fonctionnement {
  padding: 48px 20px 68px 20px;
}
.fonctionnement i {
  align-self: center;
  padding: 25px;
}
.fonctionnement .bouton-fonctionnement {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #F7F7F7;
  font-weight: bold;
  font-size: 16px;
  margin-top: 25px;
  border-radius: 20px;
  box-shadow: 1px 1px 3px rgb(184, 184, 184);
  cursor: pointer;
}
.fonctionnement .bouton-fonctionnement i {
  color: gray;
}
.fonctionnement .bouton-fonctionnement :hover {
  background-color: #F5EDFF;
  border-radius: 20px;
  box-shadow: 3px 3px 7px rgb(184, 184, 184);
}
.fonctionnement .bouton-fonctionnement :hover i {
  color: #9356DC;
  box-shadow: 0 0 0;
}
.fonctionnement .bouton-fonctionnement p {
  width: 100%;
  margin: 0;
  padding: 0;
  align-self: center;
}
.fonctionnement .bouton-fonctionnement .cerle {
  position: absolute;
  display: flex;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  justify-content: center;
  background-color: #9356DC;
  margin: 28px 0 28px -12px;
  color: white;
  box-shadow: none;
}

@media screen and (min-width: 900px) {
  .fonctionnement {
    display: flex;
    flex-wrap: wrap;
  }
  .fonctionnement h2 {
    margin-left: 36px;
  }
  .fonctionnement .groupe-bouton-fonctionnement {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 36px;
  }
  .fonctionnement .bouton-fonctionnement {
    margin-right: 24px;
    width: 30%;
  }
  .fonctionnement h2 {
    width: 100%;
  }
}
.coeur {
  display: flex;
  position: relative;
  float: right;
  margin-right: 25px;
  font-size: 25px;
  cursor: pointer;
}
.coeur .animation-coeur {
  position: absolute;
  align-self: center;
  transform: scale(0);
}
.coeur:hover .animation-coeur {
  position: absolute;
  align-self: center;
  transform: scale(1.1);
  transition-property: transform;
  transition-duration: 500ms;
  color: #FF79DA;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    z-index: 0;
  }
}
@keyframes dispparition {
  to {
    opacity: 0;
    scale: 0;
  }
}
@keyframes apparition {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
footer {
  background-color: #353535;
  padding-top: 22px;
  padding-bottom: 33px;
  padding-right: 90px;
}
footer h2 {
  font-family: "Shrikhand";
  margin: 0px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  margin-left: 35px;
  margin-bottom: 15px;
}
footer h2 img {
  height: 27px;
  width: 137px;
}
footer ul {
  margin: 0;
}
footer ul a {
  color: #ffffff;
}
footer ul li {
  list-style-type: none;
  margin-top: 7px;
}
footer ul li :hover {
  color: aqua;
}
footer ul li i {
  margin-right: 11px;
}

@media screen and (min-width: 900px) {
  footer .contenu-footer {
    display: flex;
    flex-direction: row-reverse;
  }
  footer .contenu-footer h2 {
    padding-top: 20px;
  }
  footer ul {
    padding-right: 40px;
    display: flex;
    padding: 20px;
  }
  footer ul li {
    margin-right: 40px;
    margin-top: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
