html{a
    {text-decoration: none;
    color: black;}
    }
.logo{
    display: flex;
    width: 100%; 
    justify-content: center;
    img{
    width: 162px;
    padding: 20px;
   }
}
.bouton-ville{
    display: flex;
    justify-content: center;
    background-color: #EAEAEA;
    padding: 20px;
}

.text-aceuille{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.bouton-resto{
    border: solid;
    border-color: black;
    background-color:#9356DC;
    border-radius: 25px;
    display: flex;
    width: fit-content;
    p{padding: 15px;
        margin: 0;
        color: #EAEAEA;}
}
.bouton-fonctionnement{
    display: flex;
    background-color: #ffffff;
    margin-top: 25px;
    border-radius: 20px;
    box-shadow: 1px 1px 3px rgb(184, 184, 184);

    :hover{
        border-radius: 20px;
        background-color: #F5EDFF;
    }
    p{padding: 28px;
        width: 100%;
        margin: 0;}
    .cerle{
        display: flex;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        justify-content: center;
        background-color: #9356DC;
        margin: 28px 0 28px -12px;
    }
}
.Restaurants{
width:100%;
padding: 17px;
    .carte-restaurant{
        border-radius: 15px;
        height: 231px;
        margin-bottom:18px ;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    }
    img{
        width: 100%;
        height: 70%;
        object-fit: cover;
        border-radius: 15px;
    }
    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;}
    h3{
        margin: 0;
        padding: 0;}
}
footer{
    background-color: #353535;
    .mini-logo{display: flex;
        justify-content: left;
        img{height: 27px;
            width: 137px;}}
    li{color: #ffffff;
    list-style-type: none;
    margin-top: 12px;}
}
