.bouton-rose {
    display: flex;
    border-color: black;
    background: linear-gradient(to top, #9356DC, #FF79DA);
    border-radius: 25px;
    width: fit-content;
    align-self: center;


    p {
        padding: 15px;
        margin: 0;
        color: #EAEAEA;
    }
}
