@keyframes apparition {
    from { transform: translateY(50%); 
    opacity: 0;}
    to   { transform: translateY(0%);
    opacity: 1; }
  }
  
.choix-menu {
    
    animation: apparition 3s;
    position: relative;
    display: flex;
    margin-top: 12px;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border-radius: 15px;   
    
    .check {
        display: flex;
        display: none;
        align-content: center;
        background-color:  #99E2D0;
        width: 100px;
        float: right;
        border-radius: 0 15px 15px 0;
        align-content: center;
        justify-content: center;
       
        .cerle{height: fit-content;
        align-self: center;
        background-color: white;
            border-radius: 50%;
            height: fit-content;
        padding: 0 2px 0 2px;}
        i{
    color: #99E2D0;}


    }

    &:hover {
        .check {
            display: flex;
            transition: transform 1s;
            @keyframes slide {
                from { width:0; }
                to   { width: 100px; }
              
              }
              @keyframes rotation {
                from { transform:rotate(180°); }
                to   { transform:rotate(0) }
              }
              animation: 0.25s slide;
              
              
        }
    }

    a {
        width: 100%;

    }

    .info-plats {
        width: 100%;
        margin: 12px;
        overflow: hidden;
        white-space: nowrap;
        

    }

    p {text-overflow: ellipsis;
        overflow: hidden;
        margin-top: 5px;
        width: 100%;
    }

    h3 {text-overflow: ellipsis;
        overflow: hidden;
        margin: 0;
    }

    .prix {
        float: right;
        font-weight: 700;
        margin: 12px 19px 12px 12px;
        padding-top: 39px;
    }




}