@import"Pages/loader";
@import "Composants/bouton-ville";
@import"Pages/style-page-aceuille";
@import"Composants/bouton-rose";
@import"Composants/choix-menu";
@import"Pages/Cartes-Restaurants";
@import"Composants/bouton-fonctionnement";
@import"Composants/coeur";


///page resto
/// 

.image-aceuille {
    width: 100%;

    img {
        object-fit: cover;
    }
}

.section-choix {
    
    max-width: 1055px;
    position: relative;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition-delay: 1s;
    transition: opacity 2s;
    opacity: 1;
    border-radius: 40px;
    margin-top: -32px;
    padding: 32px 13px 40px 13px;
    background-color: #F7F7F7;
    a{i{display: flex;}}
    h2 {
        margin: 0;
    }
}





.section-bouton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0 40px 0;
    background-color: #F7F7F7;
    
    

}

.type-plats {
    border-bottom: solid;
    border-color: #99E2D0;
    width: 9%;

    h3 {
        margin: 0;
        margin-top: 40px;
    }
}


@media screen and (min-width:792px) {
    .bouton-ville {
        display: flex;
        justify-content: center;
        background-color: #EAEAEA;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .text-aceuille {
        h2 {
            font-size: 40px;
            font-weight: 700;
            margin-bottom: 18px;
        }
    }

    .fonctionnement {
        display: flex;
        flex-wrap: wrap;


        .groupe-bouton-fonctionnement {
            width: 100%;
            display: flex;
            flex-direction: row;
            margin-left: 36px;
        }

        article {
            margin-right: 24px;
            width: 30%;
        }

        h2 {
            width: 100%;
        }
    }

    .Restaurants {
        width: fit-content;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .liste-carte-restaurant {
            width: 100%;
            display: flex;
        }

        .carte-restaurant {
            width: 25%;
            margin-left: 26px;
        }
    }

    footer {
        margin-top: 7px;

        ul {
            padding-right: 40px;
            display: flex;
            flex-direction: row-reverse;
            padding: 20px;

            li {
                margin-right: 40px;
                margin-top: 0px;

            }

        }

    }

    ///page resto

}