@import "Composants/bouton-ville";
@import"Pages/style-page-aceuille";
@import"Composants/bouton-rose";

.fonctionnement {
    padding: 48px 20px 68px 20px;

    i {
        align-self: center;
        padding: 25px;
    }

    .bouton-fonctionnement {
        position: relative;
        display: flex;
        align-items: center;
        background-color: #F7F7F7;
        font-weight: bold;
        font-size: 16px;
        margin-top: 25px;
        border-radius: 20px;
        box-shadow: 1px 1px 3px rgb(184, 184, 184);

        :hover {
            background-color: #F5EDFF;
            border-radius: 20px;
            box-shadow: 3px 3px 7px rgb(184, 184, 184);
            i{color: #9356DC;}
        }

        p {
            width: 100%;
            
            margin: 0;
            padding: 0;
            align-self: center;

        }

        .cerle {
            position: absolute;
            display: flex;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            justify-content: center;
            background-color: #9356DC;
            margin: 28px 0 28px -12px;
            color: white;

        }


    }
}

.Restaurants {
    padding: 0 17px;
    width: auto;
    padding-top: 54px;
    background-color: #F7F7F7;

    .carte-restaurant {
        
        transition: all 2s;
        position: relative;
        border-radius: 15px;
        height: 231px;
        margin-bottom: 18px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
        img {
            width: 100%;
            height: 70%;
            object-fit: cover;
            border-radius: 15px;
        }

        .info {
            display: flex;
            flex-direction: column;
            margin-left: 13px;
            @import"Composants/coeur";
        }

        

        p {
            margin-top: 5px;
            padding: 0;
            
        }
    }
}


.nouveau {
    display: flex;
    position: absolute;
    width: 80px;
    height: 29px;
    color: green;
    font-weight: 500;
    margin: 14px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    background-color: #99E2D0;
    right: -0.18px;
    align-items: center;
    justify-content: center;
}

h3 {
    margin: 0;
    padding: 0;
}





///page resto
/// 

.image-aceuille {
    width: 100%;

    img {
        object-fit: cover;
    }
}

.section-choix {
    
    max-width: 1055px;
    position: relative;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition-delay: 1s;
    transition: opacity 2s;
    opacity: 1;
    border-radius: 40px;
    margin-top: -32px;
    padding: 32px 13px 40px 13px;
    background-color: #F7F7F7;

    h2 {
        margin: 0;
        @import"Composants/coeur";
    }
}

@import"Composants/choix-menu";



.section-bouton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
    background-color: #F7F7F7;

}

.type-plats {
    border-bottom: solid;
    border-color: #99E2D0;
    width: 9%;

    h3 {
        margin: 0;
        margin-top: 40px;
    }
}


@media screen and (min-width:792px) {
    .bouton-ville {
        display: flex;
        justify-content: center;
        background-color: #EAEAEA;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .text-aceuille {
        h2 {
            font-size: 40px;
            font-weight: 700;
            margin-bottom: 18px;
        }
    }

    .fonctionnement {
        display: flex;
        flex-wrap: wrap;


        .groupe-bouton-fonctionnement {
            width: 100%;
            display: flex;
            flex-direction: row;
            margin-left: 36px;
        }

        article {
            margin-right: 24px;
            width: 30%;
        }

        h2 {
            width: 100%;
        }
    }

    .Restaurants {
        width: fit-content;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .liste-carte-restaurant {
            width: 100%;
            display: flex;
        }

        .carte-restaurant {
            width: 25%;
            margin-left: 26px;
        }
    }

    footer {
        margin-top: 7px;

        ul {
            padding-right: 40px;
            display: flex;
            flex-direction: row-reverse;
            padding: 20px;

            li {
                margin-right: 40px;
                margin-top: 0px;

            }

        }

    }

    ///page resto

}