@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg); 
      z-index: 0;
    }
  } 
@keyframes dispparition {
    to {
        
        opacity: 0;
        scale: 0;
       
        
    }
}
@keyframes apparition {
    from {
        transform: translateY(50%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}
@keyframes slide {
    from {
        width: 0;
    }

    to {
        width: 100px;
    }

}