    .load-icon {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      background-color: #99E2D0;
      z-index: 1;
      position: fixed;
      animation: dispparition 500ms forwards;
      animation-delay: 2s;
    }
    .load-icon:after {
      content: " ";
      display: block;
      width: 64px;
      height: 64px;
      margin: 8px;
      border-radius: 50%;
      border: 6px solid rgb(159, 51, 51);
      border-color: #fff transparent #fff transparent;
      animation: rotation 0.5s  ease-in-out ;
      animation-iteration-count: 8;
      position: fixed;
    }
  
  