.bouton-rose {
    display: flex;
    border-color: black;
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    border-radius: 25px;
    width: fit-content;
    align-self: center;
    box-shadow: 1px 1px 3px rgb(184, 184, 184);;
    p {
        padding: 15px;
        margin: 0;
        color: #EAEAEA;
    }
    :hover{background: linear-gradient(200.64deg, #a475de -5.2%, #f89bde 110.74%);
        box-shadow: 3px 3px 8px rgb(184, 184, 184);
        border-radius: 25px;}
}
